@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root{
  width: 100%;
  height: 100%;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'sfProDisplay';
  src: url('/fonts/SF-Pro-Display-Regular.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'sfProDisplaySemibold';
  src: url('/fonts/SF-Pro-Display-Semibold.otf') format('opentype');
  font-weight: semibold;
}

@font-face {
  font-family: 'sfProText';
  src: url('/fonts/SF-Pro-Text-Regular.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'sfProTextLight';
  src: url('/fonts/SF-Pro-Text-Light.otf') format('opentype');
  font-weight: light;
}

.scrollbar-hide {
  /* Hide scrollbar for Chrome, Safari, and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE and Edge */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}